.full-width-container {
    padding-right:0;
    padding-left:0;
  }

header{
    background-color: #808080;
    text-align: center;
    color: #ffffff;
    padding: 10px 0;
}

aside{
    font-size: 14px;
    background-color:#808080;
    color: #fff;
    line-height: 30px;
    width: 10%;
    padding:20px 0px 20px 20px;
}

aside a{
    color: #fff;
}

.search{
    background-color: blue;
    width: 30%;
}